body {
  font-family: "Slabo 27px", serif;
  margin: 32px;
  display: block;
}

h1 {
  font-size: 25px;
}

h1,
h2,
h3 {
  text-align: center;
}
.temperature {
  text-align: center;
  font-size: 30px;
}
.date,
.humidity,
.wind ,.weatherDescription{
  font-size: 25px;
  text-transform: capitalize;
}
.container {
   background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  border-radius: 10px;
  margin: auto;
  padding: 0 150px;
  border-style: solid;
  display: block;
  max-width: 900px;
}
.fas {
font-size: 30px;
line-height: 3;
}

.row {
  text-align: center;
}

.searchButton {
  color: red;
} 

.temperature .active{
  color: black;
  cursor: default;
  text-decoration: none;
}
.temperature .active:hover{
  text-decoration: none;
}